<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ict814.template">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Android_Kadai"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetColorActivity"
            android:label="@string/change_color_label">
        </activity>
        <activity android:name=".IlluminometerActivity"
        android:label="@string/sensor_label">
        </activity>
        <activity android:name=".TimerActivity"
            android:label="@string/service_label">
        </activity>
        <service
            android:name=".TimerService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <activity android:name=".NetActivity"
            android:label="@string/network_label">
        </activity>
    </application>

</manifest>